<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ECOSORT</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<!-- c -->

<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- V CSS Files -->
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- M CSS File -->
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{% url 'userhome' %}" class="logo d-flex align-items-center me-auto">
      <img src="{% static 'assetsv2/img/logo.png' %}" alt="">
      <h1 class="sitename">ECOSORT</h1>
    </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li>{{User.username}}<br></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <main class="main">


    <!-- Service Details Section -->
     <br><br><br><br>
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Edit Profile</h4>
              <div class="services-list">
                <form action="" method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" id="username" value="{{User.username}}">
                <br>
                <label for="phone_number">Phone</label>
                <input name="phone_number" type="text" class="form-control" id="phone_number" value="{{User.phone_number}}">
                <br>
                <label for="email">Email</label>
                <input name="email" type="text" class="form-control" id="email" value="{{User.email}}">
                <br>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
                <!-- {% for msg in messages %}
                <h7 style="color: red;">{{msg}}</h7>
                {% endfor %} -->
              </div>
            </div><!-- End Services List -->

          </div>

          <div class="col-lg-5 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'assets/img/editprofile.jpg' %}" alt="" class="img-fluid services-img">
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- M JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>