
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ECOSORT</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">


    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> <!-- Common jquery plugin -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- c -->

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- V CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- M CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <br><br><br><br>
      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'assetsv2/img/logo.png' %}" alt="">
        <h1 class="sitename">ECOSORT</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}">Home<br></a></li>
          <li><a href="{% url 'services' %}" class="active">Services</a></li>
          <li><a href="{% url 'console' %}">Console</a></li>
          <li><a href="{% url 'index' %}#about">About</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a class="btn-getstarted flex-md-shrink-0" href="{% url 'userlogin' %}">Login</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    

    <!-- Values Section -->
     <br><br><br><br><br><br>
    <section id="values" class="values section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <a href="#pricing">
            <div class="card">
              <img src="{% static 'assets/img/services-3.png' %}" class="img-fluid" alt="">
              <h3>Event Waste Management</h3>
              <p>Event waste management involves sorting, recycling, and disposing of waste to ensure sustainability</p>
            </div>
            </a>
          </div><!-- End Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="#pricing">
            <div class="card">
              <img src="{% static 'assets/img/services-2.png' %}" class="img-fluid" alt="">
              <h3>Shop Waste Management</h3>
              <p>Shop waste management focuses on reducing, recycling, and properly disposing of waste in the retail spaces</p>
            </div></a>
          </div><!-- End Card Item -->

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="#pricing">
            <div class="card">
              <img src="{% static 'assets/img/services-1.png' %}" class="img-fluid" alt="">
              <h3>Home Waste Management</h3>
              <p>Home waste management involves sorting, recycling, and disposing of waste responsibly to reduce environmental impact</p>
            </div>
            </a>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Values Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="pricing-tem">
              <h3 style="color: #1058e9;">Event Waste</h3>
              <div class="price"><sup>₹</sup>1499<span></span></div>
              <div class="icon">
                <i class="bi bi-x-diamond" style="color: #1058e9;"></i>
              </div>
              <ul>
                <li>Event waste <br> disposal services</li>
                <li></li>
              </ul>
              <a href="{% url 'userlogin' %}" class="btn-buy">Book Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-tem">
              <h3 style="color: #1058e9;">Shop Waste</h3>
              <div class="price"><sup>₹</sup>499<span></span></div>
              <div class="icon">
                <i class="bi bi-shop" style="color: #1058e9;"></i>
              </div>
              <ul>
                <li>Commercial waste <br> collection services</li>
                <li class="na"></li>
              </ul>
              <a href="{% url 'userlogin' %}" class="btn-buy">Book Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-tem">
              <h3 style="color: #1058e9;">Home Waste</h3>
              <div class="price"><sup>₹</sup>218<span></span></div>
              <div class="icon">
                <i class="bi bi-house" style="color: #1058e9;"></i>
              </div>
              <ul>
                <li>Residential waste <br> collection services</li>
                <li class="na"></li>
              </ul>
              <a href="{% url 'userlogin' %}" class="btn-buy">Book Now</a>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-tem">
              <h3 style="color: #837c7b;">Hospital Waste</h3>
              <div style="color: #837c7b;" class="price"><sup>₹</sup>1999<span></span></div>
              <div class="icon">
                <i class="bi bi-buildings" style="color: #837c7b;"></i>
              </div>
              <ul>
                <li>This feature will be made<br>available soon</li>
                <li></li>
              </ul>
              <a style="color: #837c7b;" class="btn">Unavailable</a>
            </div>
          </div><!-- End Pricing Item -->

        </div><!-- End pricing row -->

      </div>

    </section><!-- /Pricing Section -->


  </main>

  <footer id="footer" class="footer">

    

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'index' %}" class="d-flex align-items-center">
            <span class="sitename">ECOSORT</span>
          </a>
          <div class="footer-contact pt-3">
            <p>B118 East Avenue</p>
            <p>Pulpally, IN 673579</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+91 0000 0000 11</span></p>
            <p><strong>Email:</strong> <span>ecosort2025@gmail.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}#hero">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}#features">Features</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}#about">About Us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}#contact">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#pricing">Payments</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#values">Offerings</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'VendorRequests' %}">Become a Vendor</a></li>
          </ul>
        </div>


      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">ECOSORT</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>

  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- V JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- M JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"303d02b9b2ce6a243f28959e033b1632d","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

</body>

</html>

<!-- c -->
